@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:wght@400;600;700&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@400;700;800&family=Montserrat:wght@200;300;400;600;700&family=Tajawal:wght@200;300;500;800&family=Thasadith:ital,wght@0,400;0,700;1,400&display=swap');
.work-page-body{
    background-color: white;
}
.work-nav a{
    color: black;
}
.sub-nav{
    border: 2px dashed rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sub-nav ul{
    border: 2px solid blue;
    font-weight: 100; 
    font-size: 20px;
    width: 700px;
}
.sub-nav a{
    color: black;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40 px;
    font-weight: bold;
}
.left-footer a{
    color: black;
}

